parameters:
	tmpDir: %currentWorkingDirectory%/var/tmp

	ignoreErrors:
		# Should not happen
		- message: '#^Parameter \#1 \$path of function dirname expects string, string\|false given.$#'
		  path: %currentWorkingDirectory%/src/Themes/Utils/Classes.php
